:root {
    --button-color: #5047D7;
    --button-hover-color: #403b8d;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #3C3E44;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 700;
    text-align: center;
}

button:hover,
button:active {
    background-color: var(--button-hover-color);
    outline: none;
    color: #fff;
    border: none;
}

input:focus {
    border-color: var(--button-color);
}

.button-link {
    color: #fff;
    background-color: var(--button-color);
    text-decoration: none;
    transition: background-color 0.3s;
}

.button-link:hover {
    color: #fff;
    background-color: var(--button-hover-color);
}

a {
    color: var(--button-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--button-hover-color);
}
