* {
    margin: 0;
    outline: none;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1244px;
    margin: 32px auto 56px auto;
    font-size: 18px;
    font-weight: 400;
}

.menu {
    display: flex;
    gap: 56px;
    margin: 16px auto;
}

.menu a {
    text-decoration: none;
    color: #333333;
}

img {
    border-radius: 8px;
}

.login {
    text-decoration: none;
    color: #5047D7;
}

.header-title {
    color: #5047D7;
    letter-spacing: 0.5px;
}

.logo {
    width: 55px;
    margin-right: 10px;
}

.section-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1244px;
    margin: 0 auto;
    padding-bottom: 56px;
}

.section-1 .main-hotel-rating {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 700;
    color: #333333;
}

.section-1 .main-hotel-name {
    margin-right: 32px;
    letter-spacing: 0.5px;
}

.section-1 .main-hotel-stars {
    font-size: 26px;
    padding: 11px;
    color: #FFB801;
    font-weight: bold
}

.section-1 .main-hotel-address {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #666666;
    text-decoration: underline;
    font-weight: 400;
}

.section-1 .main-photo {
    max-width: 925px;
    max-height: 428px;
    margin: 32px 32px 16px 0px;
}

.section-1 aside {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    max-width: 250px;
}

.booking {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
}

.advantages li {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 16px;
}

aside h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

aside .num-rating {
    margin-bottom: 16px;
}

aside h4 {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 9px;
}

aside a {
    display: inline-block;
    padding: 12px 18px;
    background-color: #5047D7;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.section-1 .thumbnail {
    width: 172px;
    height: 104px;
}

.section-1 .icon {
    width: 35px;
    height: 35px;
}

.section-1 figure {
    width: 925px;
    display: flex;
    justify-content: space-between;
}

.section-2 {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    padding: 56px 0;
}

.section-2 .hotel-features {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1244px;
}

.hotel-features li {
    max-width: 287px;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
}

.section-2 .feature-image {
    max-width: 287px;
}

.section-2 h3 {
    margin: 16px 0;
}

.btn-more {
    padding: 4.5px 12px;
    font-size: 18px;
}

.similar-hotels {
    list-style-type: none;
    padding: 0;
}

.hotel-image {
    width: 393px;
    height: 214px;
}

.rating-image {
    width: 114px;
    height: 19px;
}

.interesting-image {
    width: 318px;
    height: 199px;
}

.interesting-list li {
    margin: 10px;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 110px 98px;
}

.footer-title {
    letter-spacing: 0.5px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.input-group label {
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0px;
}

.input-group input {
    font-weight: 400;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 15px;
    border: 1px solid #333333;
    border-radius: 16px;
    width: 100%;
}

.input-group input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: justify;
    padding: 4px 16px;
}


.input-group input:disabled {
    background-color: #f0f0f0;
    border-color: #333333;
    cursor: not-allowed;
}

.login-button {
    padding: 10px;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(80, 71, 215, 0.5);
}

.forgot-password-and-register {
    color: #5047D7;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.3s;
}

.forgot-password-and-register:hover {
    color: #403b8d;
}

.forgot-password-and-register:focus {
    outline: none;
    text-decoration: underline;
}

.forgot-password-and-register:active {
    color: #302c6f;
}
